@use "./variables" as *;
@use "./mixins" as *;

.banner {
    margin-top: 4.5rem;
    &__inner {
        @include flex(center,center)
    }

    &__title {
        font-family: $notosanskr-regular;
        font-size: 4.6rem;
        color: $text-color;
    }

    &__img {
        transform: translateX(51px);
    }
}