// color
$main-color: #fa2828;
$white-color: #fff;
$black-color: #222;
$text-color: #2d2d2d;
$grey-color: #666666;
$grey-light-color: #f5f5f5;
$grey-light-color-2: #949494;
$grey-dark-color: #424242;
$border-color: #dedede;

//size
$mobile-width: 600px;
$tablet-width: 1024px;

//font family
$notosans-cjk-kr-font: "noto-sans-cjk-kr", sans-serif;
$gotham-rounded-bold: 'gotham-rounded-bold', sans-serif;
$notosanskr-regular : 'NotoSansKR-Regular';