// colors
$primary-color: #fa2828;
$black-color: #2d2d2d;
$black-dark-color: #222;
$text-color: #666;
$gray-color: #999;
$gray-dark-color: #424242;
$gray-light-color: #949494;
$white-color: #fff;
$border-color: #efefef;

// fonts
$primary-font: 'Noto Sans KR', 'sans-serif';
$gotham-rouded-font: 'Gotham Rounded', sans-serif;
$gotham-book-font: 'Gotham Book', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;

// size
$wrapper: 2560px;
$container: 1130px;