
-
	const dataCaptions = [
		{
			titlePayco: "PAYCO",
			subtitle1: "PAYCO 아이디만 있으면 간편하게 로그인!",
			subtitle2: '1,000만 PAYCO 회원을 여러분의 서비스 고객으로 만들어 보세요.',

		},
		{
			titlePayco: "PAYCO 2",
			subtitle1: "PAYCO 아이디만 있으면 간편하게 로그인! 2",
			subtitle2: '1,000만 PAYCO 회원을 여러분의 서비스 고객으로 만들어 보세요. 2',
		}
	]

section.banner
	div.container.banner__inner
		.swiper
			.swiper-wrapper
				each item in dataCaptions
					.swiper-slide
						div.banner__caption
							h1.banner__title
								span= item.titlePayco
								|로그인
							p.banner__subtitle
								span= item.subtitle1
								span= item.subtitle2
							+btn({
								link: '#',
								name: '자세히 보기',
								class: 'btn banner__btn'
							})
			.swiper-pagination
		figure.banner__img
			img(src="../images/banner/banner-img.png", alt="")
