.service {
    margin: 7.9rem 0 8.1rem;
    &__list {
        @include flex (center, space-between);
        flex-wrap: wrap;
    }
    &__item {
        width: calc(33.33% - (4.8rem/3));
        padding: 3.2rem 3.2rem 4.6rem 3.8rem;
        border: 1px solid $border-color;
        height: 36.6rem;
    }
}