.header .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 4.4rem;
}
.header .topbar__title {
  font-size: 1.3rem;
  color: #424242;
  font-family: "noto-sans-cjk-kr", sans-serif;
  line-height: 1;
}
.header .topbar__contact {
  font-size: 1.4rem;
  color: #2d2d2d;
  font-family: "noto-sans-cjk-kr", sans-serif;
  line-height: 1;
}
.header .topbar__contact a {
  position: relative;
  color: #2d2d2d;
  margin-right: 1rem;
}
.header .topbar__contact a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2d2d2d;
  left: 0;
  bottom: 0;
}
.header .topbar__contact a::after {
  content: "";
  position: absolute;
  background-image: url(../images/icon/shape1.jpg);
  background-repeat: no-repeat;
  height: 0.5rem;
  width: 0.7rem;
  right: -1.1rem;
  top: 0.8rem;
}
.header .topbar__contact span {
  margin-left: 1rem;
  padding-left: 0.9rem;
  position: relative;
}
.header .topbar__contact span::before {
  content: "";
  position: absolute;
  height: 1.2rem;
  width: 1px;
  left: 0;
  top: 4px;
  background-color: #949494;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav__logo {
  font-family: "gotham-rounded-bold", sans-serif;
  font-weight: 400;
  color: #2d2d2d;
  font-size: 2rem;
}
.header .nav__logo span {
  font-weight: 700;
  color: #fa2828;
}
.header .nav__menu {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.header .nav__item:not(:last-child) {
  margin-right: 2.8rem;
}
.header .nav__link {
  color: #2d2d2d;
  font-family: "noto-sans-cjk-kr", sans-serif;
  font-weight: 700;
}

.banner {
  margin-top: 4.5rem;
}
.banner__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__title {
  font-family: "NotoSansKR-Regular";
  font-size: 4.6rem;
  color: #2d2d2d;
}
.banner__img {
  transform: translateX(51px);
}

@font-face {
  font-family: "notosanscjkkr-regular";
  src: url("../fonts/notosanscjkkr-regular-webfont.woff") format("woff2"), url("../fonts/notosanscjkkr-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR-Medium-Alphabetic";
  src: url("NotoSansKR-Medium-Alphabetic.eot");
  src: url("NotoSansKR-Medium-Alphabetic.eot?#iefix") format("embedded-opentype"), url("NotoSansKR-Medium-Alphabetic.woff2") format("woff2"), url("NotoSansKR-Medium-Alphabetic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: url("../font/NotoSansKR-Regular-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 58%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1;
  color: #2d2d2d;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 1130px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
